@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
h1 {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.33;
}
h2 {
  font-size: clamp(15px, 20px, 2vw);
  line-height: clamp(auto, 29px, 2vw);
  letter-spacing: clamp(-0.19, -0.25, 2vw);
}

h3 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25;
}

h4 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2;
}
