@media only screen and (max-width: 768px) {
  body {
    font-size: 0.8125rem;
    line-height: 19px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 23px;
  }
}
